.container section {
    padding: 7.5rem;
}
.welcomeSection, .valuesSection {
    background-color: #F9FFEF;
}

.welcomeSection blockquote {
    position: relative;
    max-width: 400px;
    padding-top: 1rem;
    font-size: max(12px, 1rem);
    font-weight: 600;
    margin-bottom: 30px;
}

.welcomeSection blockquote::before {
    content: '';
    background-image: url('../public/images/quote.webp');
    position: absolute;
    width: 100px;
    padding-bottom: 0.5625rem;
    border-bottom: 3px solid;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: 1.5625rem;
    top: -90%;
    font-size: 2.5rem;
    font-family: Arial, serif;
}

@media (min-width: 900px) {
    .welcomeSection, .valuesSection {
        background-color: #F9FFEF;
        padding-top: 12.5rem !important;
    }
    .welcomeSection blockquote {
        margin-bottom: 0
    }
}


.welcomeSection h3, .valuesSection h3 {
    font-weight: 600;
    font-size: 3.75rem;
    color: #0A3D04;
}

.container p {
    font-weight: 300;
    font-size: max(14px, 1.125rem);
    max-width: 600px;
    margin-bottom: 60px;
}

.teamSection h5, .whatWeDoSection h5 {
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #0A3D04;
}

.teamSection span, .whatWeDoSection span {
    text-decoration: underline;
}

.teamSection > div > div.link::after, .whatWeDoSection > div > div.link::after {
    content: '';
    text-decoration: none;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg) translateX(5px) translateY(2px);
}

.teamSection > div > div.link:hover::after, .whatWeDoSection > div > div.link:hover::after {
    transform: rotate(-45deg) translateX(15px) translateY(12px);
}

.whatWeDoSection p {
    max-width: 400px;
}

.valuesSection > div > div {
    margin-top: 100px;
    max-width: 600px
}