.logo {
    margin-left: 95px;
}
.logo p {
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    width: 240px
}
@media (max-width: 900px) {
    .logo {
        margin-left: 30px;
        text-align: center;
    }
}
@media (max-width: 483px) {
    .logo p {
        font-size: 16px;
    }
}