.container section {
  padding: 5.25rem
}

.heroSection {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../public/images/bg.webp');
  background-size: cover;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vw;
}

@media (max-width: 1250px) {
  .hero {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .hero {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 300px) {
  .hero {
    width: 90vw;
    height: 90vw;
  }
}

.rumbleSection { text-align: center; }
.rumbleSection h3 {
  font-weight: 700;
  font-size: 7.5rem;
  margin-bottom: 1.5rem;
  color: #0A3D04;
}

.rumbleSection p {
  margin: auto;
  font-size: 1.5rem;
  padding: 0 9.375rem;
}

@media (max-width: 900px) {
  .rumbleSection p {
    padding: 0
  }
}

@media (max-width: 500px) {
  .rumbleSection h3 {
    font-size: 4rem;
  }
  .rumbleSection > div {
    column-gap: 0.325rem;
  }
}

.rumbleSection > div {
  margin-top: 5.625rem;
  display: flex;
  justify-content: center;
  column-gap: 6.25rem;
  align-items: center;
}

.rumbleSection > div div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
  cursor: pointer
}

.rumbleSection > div > div span {
  white-space: nowrap;
}

.rumbleSection > div > div:hover span {
  color: #0A3D04;
}

.rumbleSection > div > div:hover .playContainer {
  background-color: #BFE2BB;
}

.rumbleSection > div > div:hover .iconHolder {
  background-color: #ECFDE1;
}

.playContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 0 dashed #A3CA9E;
  background-color: #ECFDE1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.iconHolder {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #BFE2BB;
  transition: all 0.3s ease-in-out;
}

.standOutSection, .teamSection {
  background-color: #F9FFEF;
  padding: 120px !important;
}

.standOutSection h5 {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  text-decoration-line: underline;
  text-align: center;
  margin-bottom: 5rem;
}

.standOutSection h4 {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.standOutSection h4:hover {
  transform: scale(1.2);
  color: #0A3D04;
}

.standOutSection span {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

.foundationSection {
  text-align: left !important;
}

.imageContainer {
  width: 100%;
  height: 100%;
}

.altImageContainer {
  width: 100%;
  height: 100%;
  float: left;
}

@media (min-width: 900px) {
  .imageContainer {
    width: 1300px;
    height: 100px;
    float: right;
  }

  .altImageContainer {
    width: 1300px;
    height: 100px;
    float: left;
  }
}



.foundationSection h3 {
  font-family: DM Sans, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-decoration-line: underline;
  margin-bottom: 1.625rem;
  color: #0A3D04;

}

.foundationSection h4, .foundationSection p {
  font-size: 1.5rem;
  margin-bottom: 1.625rem
}

.foundationSection h4 {
  font-weight: 600;
}

.foundationSection p {
  font-weight: 300;
}

@media (max-width: 900px) {
  .foundationSection {
    text-align: center !important;
  }
}

.teamSection h5 {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-decoration-line: underline;
  color: #0A3D04;
}

.teamSection span {
  text-decoration: underline;
}

.teamSection > div > div::after {
  content: '';
  text-decoration: none;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg) translateX(5px) translateY(2px);
}

.teamSection > div > div:hover::after {
  transform: rotate(-45deg) translateX(15px) translateY(12px);
}

.aboutSection {
  margin: 7.5rem 0
}

@media (max-width: 900px) {
  .aboutSection {
    text-align: center;
    padding: 0 !important;
  }
}

.aboutSection h5, .videosSection h5 {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-decoration-line: underline;
  color: #0A3D04;
  margin-bottom: 2rem;
}

.aboutSection p, .videosSection p {
  max-width: 450px;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 3.75rem;
}

.videosSection {
  text-align: right
}

.videosSection h6 {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 24px;
}