.button {
    font-family: DM Sans, sans-serif;
    /*position: absolute;*/
    right: 8%;
    outline: none;

    background: #0A3D04;
    border-radius: 10px;
    border: 0;

    padding: 20px 40px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #0A4E04;
    border: 1px solid #093D03
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    .button {
        font-size: 18px;
        padding: 10px 20px;
        right: 5%;
    }
}

@media screen and (max-width: 918px) {
    .button {
        font-size: 16px;
    }
}
